{% extend 'base.html' %}

{% block 'main' %}
<div class="container mt-5" style="text-align: center;">
    <h2 style="text-shadow: 2px 2px 2px purple , 2px -3px 4px rgb(189, 46, 122); color: aliceblue;">About Us</h2><hr>
   <div class="row shadow " style="display: flex; justify-content: center; align-items: center;">
     <div class="col-md-5 w-100">
        <img src="e-shop.jpg">
     </div>
    
     <div class="col-md-6 p-3" >
        
         <p>We are E-Shopping, your number one source for all things related to online shopping.  We're dedicated to providing you the very best of products, with an emphasis on quality, affordability, and customer satisfaction.</p>
         <p>Founded in 2015 , E-Shopping has come a long way from its beginnings.</p>
          <p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
     </div>
   </div>
  </div>
  {% endblock 'main' %}