{% load static %}
<div class="row mt-4 p-4 bg-light">  <!--footer section start or 3rd row start-->
    <div class="col-md-4">
      <h5>Address</h5><hr>
      22-B,1st floor,<br>
      Rainbow plaza,<br>
      shivar chowk,pimple saudagar,<br>
      pune 411027
    </div>
    <div class="col-md-4">
      <h5>Quick Links</h5><hr>
      <a href="index.html">Home</a><br>
      <a href="#">About</a><br>
      <a href="#"> Contact</a>
    </div>
    <div class="col-md-4">
      <h5>social media icons</h5><hr>
     <a href="#"><i class="bi bi-linkedin">Linkedin</i><br></a>
      <a href=""><i class="bi bi-facebook"></i>Facebook<br></a>
      <a href=""><i class="bi bi-instagram">Instagram</i><br></a>
      <a href=""><i class="bi bi-twitter">twitter</i></a>
    </div>
 </div><!--footer section end-->

</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>

</body>
</html>